
.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
   min-height: 90vh;
  margin-top: 30px;
  font-family: 'Poppins', sans-serif;
  background: #f5f6fa;
  padding: 10px;
}

.auth-card {
  background: #fff;
  padding: 40px 30px;
  border-radius: 20px;
  width: 100%;
  max-width: 450px;
  text-align: center;
  transition: transform 0.3s ease;
  box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}

.auth-title {
  color: #6c63ff;
  font-weight: 700;
  margin-bottom: 25px;
  font-size: 24px;
}

.input-group {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  border-radius: 50px;
  overflow: hidden;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

.input-group input {
  flex: 1;
  border: none;
  padding: 15px 20px;
  font-size: 16px;
  outline: none;
}

.input-icon {
  background: #ff6b6b;
  color: white;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}

.auth-btn {
  width: 100%;
  padding: 15px;
  border-radius: 50px;
  border: none;
  background: linear-gradient(135deg, #ff6b6b, #f06595);
  color: white;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0px 5px 15px rgba(0,0,0,0.2);
}

.auth-btn:hover {
  background: linear-gradient(135deg, #f06595, #ff6b6b);
}

.auth-link {
  margin-top: 20px;
  font-size: 14px;
  color: #555;
}

.auth-link a {
  color: #6c63ff;
  font-weight: 600;
  text-decoration: none;
}

.auth-link a:hover {
  text-decoration: underline;
}


@media (max-width: 480px) {
  .auth-card {
    padding: 30px 20px;
  }

  .auth-title {
    font-size: 24px;
  }

  .input-group input {
    padding: 12px 15px;
    font-size: 14px;
  }

  .input-icon {
    padding: 12px;
    font-size: 14px;
  }

  .auth-btn {
    padding: 12px;
    font-size: 14px;
  }

  .auth-link {
    font-size: 12px;
  }
}
